<center> <h1> Análisis descriptivo y entendimiento del dataset </h1> </center>

### Importar librerías

In [1]:
# Manipulacion de datos...
import pandas as pd
import numpy as np
# Visualizacion de datos...
import matplotlib.pyplot as plt
import seaborn as sns
# No presentar advertencias......
import warnings
warnings.filterwarnings("ignore")

### Entendimiento y Carga Del Dataset

#### Diccionario

| VARIABLE | DEFINICIÓN |
| --- | --- | 
| **age** |Age| 
|**workclass** |Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.| 
|**fnlwgt** |Money| 
|**education** |Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.| 
|**education-num** |Continuous education rank| 
|**marital-status** |Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse| 
|**occupation** |Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.|
|**relationship** |Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.|
|**race** |White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.|
|**sex** |Female, Male.|
|**capital-gain** |continuous.|
|**capital-loss** |continuous.|
|**hours-per-week** |continuous.|
|**native-country** |United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.|

In [12]:
datos = pd.read_csv("../Data/Original/adult.csv")
datos.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

#### Dimensionalidad:

In [13]:
# Dimensionalidad original de los datos...
datos.shape

(48842, 15)

Se observa una cantidad importante de registros, por lo cual se planea un **Muestreo Aleatorio Simple** con el fin de solventar el gasto computacional a la hora de procesar los datos y para futuras modelaciones. Se extrae una muestra de 10 mil registros para procesar:

In [14]:
# MAS al dataset...
datos = datos.sample(n=10000, random_state=42)

In [15]:
datos.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
7762,56,Private,33115,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
23881,25,Private,112847,HS-grad,9,Married-civ-spouse,Transport-moving,Own-child,Other,Male,0,0,40,United-States,<=50K
30507,43,Private,170525,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,14344,0,40,United-States,>50K
28911,32,Private,186788,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
19484,39,Private,277886,Bachelors,13,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,United-States,<=50K

In [16]:
print("Numero de registros por clase de trabajo:")
datos.workclass.value_counts()

Numero de registros por clase de trabajo:

Private             6940
Self-emp-not-inc     818
Local-gov            655
?                    552
State-gov            412
Self-emp-inc         323
Federal-gov          296
Without-pay            3
Never-worked           1
Name: workclass, dtype: int64

In [19]:
# Reemplazanda workclass = ? por otro...
datos['workclass'].replace("?","No-data", inplace=True)

In [20]:
print("Numero de registros por clase de trabajo:")
datos.workclass.value_counts()

Numero de registros por clase de trabajo:

Private             6940
Self-emp-not-inc     818
Local-gov            655
No-data              552
State-gov            412
Self-emp-inc         323
Federal-gov          296
Without-pay            3
Never-worked           1
Name: workclass, dtype: int64

#### Análisis de datos faltantes

In [21]:
datos.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [26]:
datos["race"].unique()

array(['White', 'Other', 'Black', 'Asian-Pac-Islander',
       'Amer-Indian-Eskimo'], dtype=object)